In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/swiggy-restaurants-dataset/data.json
/kaggle/input/swiggy-restaurants-dataset/swiggy.csv

In [2]:
import matplotlib.pyplot as plt
import seaborn as sns

/opt/conda/lib/python3.10/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.23.5
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [3]:
#Loading the dataset
df= pd.read_csv("/kaggle/input/swiggy-restaurants-dataset/swiggy.csv")

In [4]:
#first rows of dataset
df.head()

,id,name,city,rating,rating_count,cost,cuisine,lic_no,link,address,menu
0,567335,AB FOODS POINT,Abohar,--,Too Few Ratings,₹ 200,"Beverages,Pizzas",22122652000138,https://www.swiggy.com/restaurants/ab-foods-po...,"AB FOODS POINT, NEAR RISHI NARANG DENTAL CLINI...",Menu/567335.json
1,531342,Janta Sweet House,Abohar,4.4,50+ ratings,₹ 200,"Sweets,Bakery",12117201000112,https://www.swiggy.com/restaurants/janta-sweet...,"Janta Sweet House, Bazar No.9, Circullar Road,...",Menu/531342.json
2,158203,theka coffee desi,Abohar,3.8,100+ ratings,₹ 100,Beverages,22121652000190,https://www.swiggy.com/restaurants/theka-coffe...,"theka coffee desi, sahtiya sadan road city",Menu/158203.json
3,187912,Singh Hut,Abohar,3.7,20+ ratings,₹ 250,"Fast Food,Indian",22119652000167,https://www.swiggy.com/restaurants/singh-hut-n...,"Singh Hut, CIRCULAR ROAD NEAR NEHRU PARK ABOHAR",Menu/187912.json
4,543530,GRILL MASTERS,Abohar,--,Too Few Ratings,₹ 250,"Italian-American,Fast Food",12122201000053,https://www.swiggy.com/restaurants/grill-maste...,"GRILL MASTERS, ADA Heights, Abohar - Hanumanga...",Menu/543530.json

In [5]:
#finding the structure of dataset
df.shape

(148541, 11)

In [6]:
#finding detail information of dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  object
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: int64(1), object(10)
memory usage: 12.5+ MB

In [7]:
#total null values in dataset
df.isnull().sum().sum()

803

In [8]:
#null values in each 
df.isnull().sum()

id                0
name             86
city              0
rating           86
rating_count     86
cost            131
cuisine          99
lic_no          229
link              0
address          86
menu              0
dtype: int64

In [9]:
df.duplicated().sum()

0

In [10]:
df.nunique()

id              148541
name            112818
city               821
rating              42
rating_count         8
cost               363
cuisine           2132
lic_no          108763
link            148541
address         148401
menu            148541
dtype: int64

In [11]:
df["rating"].value_counts()

--     87014
4.0     6532
4.1     6296
4.2     5821
3.8     5736
3.9     5435
4.3     5011
3.7     4253
4.4     3149
3.5     2963
3.6     2925
3.4     1879
3.3     1801
4.5     1778
4.6     1334
3.2     1202
3.0      859
3.1      791
4.7      648
2.8      473
2.9      472
4.8      338
2.7      325
2.5      221
5.0      209
2.6      208
4.9      174
2.3      128
2.4      118
2.2       89
2.0       72
2.1       61
1.9       46
1.8       27
1.5       18
1.6       17
1.7       13
1.4       10
1.2        4
1.3        3
1.1        1
1.0        1
Name: rating, dtype: int64

In [12]:
df["cost"]= df["cost"].str.split("₹").str[1]

In [13]:
df["cost"]

0          200
1          200
2          100
3          250
4          250
          ...
148536     200
148537     300
148538     300
148539     250
148540     200
Name: cost, Length: 148541, dtype: object

In [14]:
#converting object string datatype to float
df['cost']= df["cost"].astype(float)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148455 non-null  object
 4   rating_count  148455 non-null  object
 5   cost          148410 non-null  float64
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: float64(1), int64(1), object(9)
memory usage: 12.5+ MB

In [16]:
#relacing "--"with nan values 
df["rating"].replace("--", np.nan, inplace = True)

In [17]:
df["rating"]

0         NaN
1         4.4
2         3.8
3         3.7
4         NaN
         ...
148536    NaN
148537    NaN
148538    NaN
148539    NaN
148540    NaN
Name: rating, Length: 148541, dtype: object

In [18]:
df["rating"].fillna(df["rating"].median(), inplace = True)

In [19]:
df["rating"]

0         4.0
1         4.4
2         3.8
3         3.7
4         4.0
         ...
148536    4.0
148537    4.0
148538    4.0
148539    4.0
148540    4.0
Name: rating, Length: 148541, dtype: object

In [20]:
df["rating_count"]

0         Too Few Ratings
1             50+ ratings
2            100+ ratings
3             20+ ratings
4         Too Few Ratings
               ...
148536    Too Few Ratings
148537    Too Few Ratings
148538    Too Few Ratings
148539    Too Few Ratings
148540    Too Few Ratings
Name: rating_count, Length: 148541, dtype: object

In [21]:
#Feature Engineering : Mapping types of rating_counts into numerical values

df["rating_count"] = df["rating_count"].map({"10K+ ratings": 1, '5K+ ratings': 2, '1K+ ratings': 3 ,'500+ ratings': 4,'50+ ratings': 5, '100+ ratings' : 6,'20+ ratings': 7, "Too Few Ratings": 8 })

In [22]:
df["rating_count"]

0         8.0
1         5.0
2         6.0
3         7.0
4         8.0
         ...
148536    8.0
148537    8.0
148538    8.0
148539    8.0
148540    8.0
Name: rating_count, Length: 148541, dtype: float64

In [23]:
df["rating_count"].value_counts()

8.0    87014
7.0    21636
6.0    20548
5.0    12009
4.0     4396
3.0     2739
2.0       98
1.0       15
Name: rating_count, dtype: int64

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148541 entries, 0 to 148540
Data columns (total 11 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id            148541 non-null  int64
 1   name          148455 non-null  object
 2   city          148541 non-null  object
 3   rating        148541 non-null  object
 4   rating_count  148455 non-null  float64
 5   cost          148410 non-null  float64
 6   cuisine       148442 non-null  object
 7   lic_no        148312 non-null  object
 8   link          148541 non-null  object
 9   address       148455 non-null  object
 10  menu          148541 non-null  object
dtypes: float64(2), int64(1), object(8)
memory usage: 12.5+ MB

In [25]:
df["city"].value_counts().sort_values()

Rangpo                       1
Noida Expressway,Delhi       1
Kohima                       1
Manali                       1
BBK_MayurVihar,Delhi         1
                          ...
Rohini,Delhi              1136
BTM,Bangalore             1161
Indirapuram,Delhi         1279
Noida-1                   1428
Bikaner                   1666
Name: city, Length: 821, dtype: int64

* Identify the number of restaurants listed on Swiggy in India
* Determine the number of cities that have restaurants listed on Swiggy
* Identify the city with the maximum number of restaurants listed on Swiggy
* Determine the top 10 cities as per the number of restaurants listed on Swiggy
* Determine the most popular cuisines served throughout the dataset
* Identify the city with the least expensive restaurant in terms of cost
* Determine the top 5 most popular restaurant chains in India
* Identify the restaurant in Bangalore that has the most number of people visited based on the number of reviews

In [26]:
# Group the dataset by city and count the number of unique restaurant IDs in each city
city_counts = df.groupby('city')['id'].nunique()
# Get the city with the maximum count
max_city = city_counts.idxmax()

# Print the result
print('City with the maximum number of restaurants listed on Swiggy:', max_city)

City with the maximum number of restaurants listed on Swiggy: Bikaner

In [27]:
max_city = city_counts.nlargest(10)
max_city

city
Bikaner                      1666
Noida-1                      1428
Indirapuram,Delhi            1279
BTM,Bangalore                1161
Rohini,Delhi                 1136
Kothrud,Pune                 1089
Indiranagar,Bangalore        1080
Electronic City,Bangalore    1039
Greater Kailash 2,Delhi      1038
Vashi,Mumbai                 1022
Name: id, dtype: int64

In [28]:
popular_cuisine = df["cuisine"].value_counts()
popular_cuisine.head(10)

North Indian,Chinese    6471
Indian                  6414
Chinese                 5051
North Indian            4775
Indian,Chinese          4374
South Indian            3303
Bakery                  3132
Chinese,Indian          2308
Chinese,North Indian    2288
Bakery,Desserts         2233
Name: cuisine, dtype: int64

In [29]:
city_cost = df.groupby('city')['cost'].mean().sort_values()
least_expensive_city = city_cost.head(10)
print(f"The city with the least expensive restaurants is {least_expensive_city}.")

The city with the least expensive restaurants is city
Hampi               100.000000
Hindaun             121.052632
Hansi               148.421053
Jalaun              150.000000
Amreli              152.962963
Bathinda            167.115607
Alambagh,Lucknow    167.272727
Nandurbar           169.230769
Shrirampur          169.444444
Sehore              169.850000
Name: cost, dtype: float64.

In [30]:
top_chains = df.groupby('name')['id'].count().sort_values(ascending=False).head(5).index.tolist()
print("The top 5 most popular restaurant chains in India are:")
for chain in top_chains:
    print(chain)

The top 5 most popular restaurant chains in India are:
Domino's Pizza
Pizza Hut
KFC
Kwality Walls Frozen Dessert and Ice Cream Shop
Baskin Robbins

In [31]:
bangalore_df = df[df['city'] == 'Bangalore']
most_popular_restaurant = bangalore_df.sort_values('rating_count', ascending=False)['name'].index.tolist
print(f"The restaurant in Bangalore with the most number of people visited is {most_popular_restaurant}.")

The restaurant in Bangalore with the most number of people visited is <bound method IndexOpsMixin.tolist of Int64Index([], dtype='int64')>.